name: Inspect codes of backend

on:
  push:
    paths:
      - 'app/**'
      - 'e2e/**'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/inspect-code.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.25' ]
    steps:
      # Initial setup
      - name: checkout
        uses: actions/checkout@v6
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache-dependency-path: |
            go.sum
            go.mod
      - name: Install dependencies
        run: go get -v -t -d ./...

        # build
      - name: build
        run: make ci-build

      - name: test
        run: make test

      - name: test-e2e
        run: make test-e2e

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
